
.filter {
    display: grid;
    grid-template-columns: 1fr 66px 40% 30%;
    align-items: center;
}

.filter img{
    align-self: center;
    width: 25px;
    height: 25px;
}

.menu-img{
    display: none;
}

.search {
    justify-self: center;
    
    height: 2em;
    width: 100%;
    margin: 1em;
    padding-inline: 2em;
    
    background-color: #f2f6fc;
    border: 1px solid;
    border-radius: 1em;
    font-size: 1rem;
}

.checkbox{
    display: none;
}