.send-message{
  position:absolute ;
  display: grid;
  grid-template-rows: repeat(3,40px) 280px 60px;
  bottom: 0;
  right: 0;

  width: 400px;

  background-color: #fff;
}

.send-message>div {
    align-content: center;
    padding-left: 1em;
    border: 1px solid;
}