.side-bar-container {
    position: relative;
    display: grid;
    grid-template-rows: 64px max-content 1fr;
    gap: 0.5rem;
    place-items: center;

    width: 150px;
    padding-top: 2rem;
    z-index: 2;
}

.close-side-bar{
    position: absolute;
    display: none;
    top:0;
    left:0;

    padding: 0.5em;

    background-color: #fff;
    border: none;
}

.close{
    display: none;
}

.side-bar-div{
    display: grid;
    justify-self: start;
}

.side-bar-btn{
    display: flex;
    align-items: center;
    gap: 1em;
    
    margin-bottom:1em;
    padding-inline: 1em;
    width:fit-content;
    height: 56px;

    background-color: #c2e7ff;
    border-radius: 20px;
    border: none;
}

.side-bar-btn:hover{
    box-shadow:0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15)
}

.side-bar-btn>img{
   width: 25px;
   height: 25px;
}

.side-bar-div > button{
   display: flex;
   align-items: center;
   gap: 1em;

   height: 30px;
   padding-left: 2em;
   padding-right: 2em;

   border:none;
}


.side-bar-div > button > img{
    width: 1rem;
    height: 1rem;
}

.is-blue{
    background-color:#d3e3fd;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.is-blue:hover{
   background-color:#d3e3fd;
}

.is-white{
    background-color: #fff;
}

.is-white:hover{
background-color: buttonface;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}