:root {
    --withe: #fff;

    --bg1: lightblue;
    --bg2: #c2e7ff;
    --bg3: #d3e3fd;
    --bg4: #f2f6fc;
    
    --color1: rgb(26, 115, 232);
    --color2: lightblue;
    --color3: rgb(197, 34, 31);

    --gray2: #aaa;
    --gray2: #888;
    --gray2: #333;
}