.user-msg {
    display: none;
    position: fixed;
    bottom: -100px;
    right: .5em;
    padding: .5em;
    background-color: #111;
}

.user-msg.open {
    display: flex;
    bottom: .8em;
    transition: bottom .5s;
}

.user-msg.success {
    background-color: var(--color1);
}

.user-msg.error {
    background-color: var(--color1);
}

.user-msg button{
   float: right;
   margin-inline-start: 4px;
}